body{
  font-family: "Open Sans", sans-serif;
}

/* variables */
:root{
  --main-color: #81c408 ;
  --main-color-hover: #679d06;
  --secondary-color: #ffb524 ;
  --heading-color: #45595b ;
}
/* variables */

/* components */
.green-bg{
  background-color: var(--main-color, green) ;
}

.orange-bg{
  background-color: var(--secondary-color,orange);
}

.orange-text{
  color: var(--secondary-color,orange) ;  
}

.green-text{
  color: var(--main-color,green) ;
}

.gray-text{
  color: var(--heading-color,gray ) ;
}

.orange-hover:hover{
  color: var(--secondary-color,orange) ;
  transition: color 0.2s linear ;   
}

.green-hover:hover{
  color: var(--main-color,green) ;
  transition: color 0.2s linear ;
}

.dark-green-hover:hover{
  color: var(--main-color-hover,darkgreen) ;
}

.orange-bg-hover:hover{
  background-color: var(--secondary-color,orange) ;
  transition: background-color 0.2s linear ;
}

.orange-border{
  border: var(--secondary-color,orange) 1px solid  ;
}
/* components */

/* Above Nav Section */
/* making the section above the navbar rounded */
.custom-round{
  border-radius : 270px 100px ;
}
/* Above Nav Section */

/* Navbar Section  */
/* hide the default arrow related to dropdown toggler (we used icon instead) */
.navbar{
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.175) ;
}

.navbar .active{
  color: var(--main-color,green) !important ;
}

.dropdown-toggle::after{
  display: none !important;
}

.modal-content{
  background-color: rgba(255, 255, 255, 0.725) !important;
  width: 100vw ;
  height: 100vh ;
}

.form-control:focus{
  box-shadow: 0 0 0 .25rem rgba(129, 196, 8, 0.25) !important ;
}

.cart-badge{
  top: 0.3rem ;
}
/* Navbar Section  */

/* Header Section */
header{
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-badge{
  background-color: rgba(255, 181, 36, 0.75);
}

/* Header Section */

/* Sell Points Section */

.sell-point-icon::after{
  content: "";
  border: solid var(--secondary-color,orange);
  border-width: 1.8rem 1.6rem ;
  border-color: var(--secondary-color,orange) transparent transparent transparent ;
  position: absolute ;
  top: 89% ;
  left: 50% ;
  translate: -50% ;
}
/* Sell Points Section */

/* Floating Arrow */
.floating-arrow{
  width: 3rem ;
  height: 3rem ;
  right: 50px ;
  bottom: 25px ;
  z-index: 10 ;
}

.floating-arrow:hover{
  background-color: var(--main-color-hover,green) ;
}
/* Floating Arrow */

/* Organic Products Section */
.organic-nav .active{
  background-color: var(--secondary-color,orange) !important;
  color: white !important;
}

.organic-nav button{
  width: 130px ;
}

.product-badge{
  top: 10px ;
  left: 10px ;
}

.add-to-cart:hover p{
  transition: color 0.2s linear ;
  color: white ;
}

.scaled-img{
  transition: transform 0.5s ease ;
}

.scaled-img:hover{
  transform: scale(1.3) ;
}

.card-shadow{
  transition: box-shadow 0.5s ease ;
}
.card-shadow:hover{
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}
/* Organic Products Section */
